@CHARSET "UTF-8";
.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:#eee !important;
	width: 318px;
	opacity: 0.8;
}
#recaptcha_privacy {
	display: none;
}
#recaptcha_response_field {
	border-color: #ddd !important;
	background-color: #fff !important;
	padding: 6px;
	margin-right: -6px;
}
input.text_field {
	height: 26px;
	width: 304px;
	border: 1px solid #a8a8a8;
	padding: 6px;
	font-size: 12px;
}
input.text_field:hover {
	-webkit-box-shadow: 0 0,inset 0 0 1px #000;
	-moz-box-shadow: 0 0,inset 0 0 1px #000;
	box-shadow: 0 0,inset 0 0 1px #000;
}
div#sign_title {
	font-weight: bold;
	margin-bottom: 30px;
}
div.sector {
	color: #2f4f4f;
	margin: 0 auto;
	width: 316px;
}
div#login {
	padding: 80px 0 160px 0;
}
div#register {
	padding: 50px 0 100px 0;
}
div.field_div {
	margin-top:2px;
	margin-bottom:5px;
}
label.field_label {
	font-size: .8em;
	color: #999;
}
label.keep_login {
	font-size: .8em;
	color: #666;
}
div.top20px {
	margin-top: 20px;
}
div.top30px {
	margin-top: 30px;
}
label#or {
	color: #666;
	margin-left:10px;
	margin-right:10px;
	font-size: .8em;
}
a {
	color: #3b5998;
	font-size: .8em;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div#error {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	font-size: .8em;
	font-weight: bold;
	background-color: #FFDDDD;
	color: #FF3333;
}
div#info {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	font-size: .8em;
	font-weight: bold;
	background-color: #DDFFDD;
	color: green;
}
.right {
	float: right;
}
div#email-message {
	padding: 80px 0 100px 0;
	color: #2f4f4f;
	margin: 0 auto;
	width: 560px;
}
div.size09 {
	font-size:.9em;
}