@CHARSET "UTF-8";

html, body {
	background-color: #f9f9f9;
	font-family: 'Freight Sans Bold','lucida grande','klavika-web',tahoma,verdana,arial,sans-serif !important;
	font-weight: normal !important;
	text-rendering: optimizelegibility;
	padding:0;
	margin: 0;
}
div#header {
	background-color: #f1f1f1;
	height: 50px;
	width: 100%;
}
div#header_inner {
	margin: 0 auto;
	font-size: 22px;
	font-weight: bold;
	height: 50px;
	width-max: 980px;
}
div#logo {
	width: 200px;
	height: 26px;
	padding-top: 12px;
	color: #4D944D;
}
div#main {
	margin: 0 auto;
	width-max: 980px;
	min-height: 100px;
}
div#footer {
	background-color: #333;
	min-height: 100px;
	box-shadow: 0px 5000px 0px 5000px #333;
}
div#footer_inner {
	margin: 0 auto;
	width-max: 980px;
}
div#copy_right {
	font-size: .8em;
	padding-top: 8px;
	color: #ccc;
}
.round4 {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.round10 {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
input.button {
	outline: none;
	font-size:.8em;
	font-weight:bold;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 99%); /* W3C */
	border:none!important;
	-webkit-box-shadow:0 0 2px #333,inset -1px -1px 0 #777;
	-moz-box-shadow:0 0 2px #333,inset -1px -1px 0 #777;
	box-shadow:0 0 2px #333,inset -1px -1px 0 #777;
	height:34px;
	width:100px;
}
input.button:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 31%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 31%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 31%); /* W3C */
	cursor:pointer;
}
input.button:active {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 0%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* W3C */
	-webkit-box-shadow:0 0 2px #333;
	-moz-box-shadow:0 0 2px #333;
	box-shadow:0 0 2px #333;
}